---
// import HeaderText from "@/components/ui/HeaderText.astro";
import imgData from "@/assets/media/portfolio";
import DiviceSelector from './DiviceSelector.astro'
// import Card from '@/components/ui/Card.astro'


   


const getImgsFromKey = (id:string):TypeGetImgsFromKey => {return imgData.filter((path) => path[0].includes(id))}

const {data} = Astro.props

const s = getImgsFromKey(data.id)


---
    <section class="min-h-screem">

        <article class="container mx-auto flex w-full h-full  ">
            <div
                class="border-box-blue h-full  my-auto w-full md:py-20  p-4 md:p-8 rounded-md bg-black-dark bg-opacity-70 flex flex-col items-center md:flex-row 
            "
            >
                <div class="relative z-10 w-full md:w-1/2 my-auto ">
                
                     <DiviceSelector pathsList={ getImgsFromKey(data.id)}
                    />
                </div>
                <div class="relative z-20 w-full md:w-1/2 ">
                    <h3 class="text-center">{data.Title}</h3>
                    <div class="flex flex-wrap flex-row items-center w-full py-4 justify-center gap-4 ">
                        {data.github && (
                            <a
                                href={data.github}
                                target="_blank"
                                class="btn-md btn-primary border-box-primary text-nowrap"
                            >
                                github
                            </a>
                        )}
                        {data.live && (
                            <a
                                href={data.live}
                                target="_blank"
                                class="btn-md btn-secondary border-box-secondary"
                            >
                                live
                            </a>
                        )}

                        {data.description && (
                            <a
                                href={data.description}
                                target="_blank"
                                class="btn-md btn-secondary border-box-secondary"
                            >
                                descripcion
                            </a>
                        )}
                    </div>
                </div>
            </div>
        </article>
    </section>

