---
// const bord = require('/src/assets/svg/nav/Interface.svg')

import { pages } from "@/content/consts";

import { Image } from "astro:assets";

import Logo from "@/assets/Logo.png";
import SvgBgMovil from "./BgMovil.svg";

import Icon from "@/assets/Icon.astro";
---

<nav class="fixed inset-x-0 bottom-0 sm:bottom-auto sm:top-0 z-[1000]">
    <img
        src={SvgBgMovil.src}
        alt=""
        class="sm:hidden absolute w-full translate-y-[-20%] scale-[105%] z-[-1]"
    />

    <div class="flex justify-between items-center pt-[7%] pb-2 sm:py-4 mx-[4%]">
        <a href="/#home" class="text-white">
            <Image class="hidden md:flex -mb-3" src={Logo} alt={"logo"} />
        </a>
        <div class="flex flex-col w-full md:w-auto md:ml-auto">
            <div class="flex w-full h-min items-center justify-around md:gap-2">
                {
                    pages.map((v) => (
                        <a
                            href={v.link}
                            class=" text-white
                        flex flex-col  items-center cursor-pointer 
                        p-1 rounded-lg gap-[2%]
                        md:py-0
                        md:pl-0
                        
                        border-b-2 border-[#ffffff25]

                        bg-secondary bg-opacity-80  hover:bg-opacity-100

                        
                        hover:border-white
                        transition-colors duration-700
                        
                        sm:px-2
                        sm:flex-row
                        sm:rounded-[4px]
                        sm:bg-transparent
                        "
                        >
                            <div class="w-5 h-5 md:m-2">
                                <Icon icon={v.icon} />
                            </div>
                            <small class="hidden xs:inline px-1 pt-1 ">
                                {v.name}
                            </small>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</nav>

<style>
    nav {
        background: linear-gradient(
            180deg,
            rgba(74, 108, 226, 0) 0%,
            #005e94 100% /* rgba(74, 108, 226, 0) 0%,
            #464aa9 100% */
        );
    }
</style>
